<div class="mb-6 border-b border-gray-300 pb-4">
  <p class="mb-2 text-lg">Subtotal:</p>
  <p class="text-2xl font-medium">{{ subtotal() | currency: "GTQ" }}</p>
</div>

@if (session()) {
  <button
    routerLink="/checkout"
    class="flex w-full items-center justify-center gap-x-2 rounded-md border px-2 py-2.5 text-sm font-medium text-neutral-800 hover:border-neutral-400"
  >
    <p>Hacer pedido</p>
    <svg-icon src="assets/svg/clipboard-doc.svg" />
  </button>
} @else {
  <button
    routerLink="/auth"
    class="flex w-full items-center justify-center gap-x-2 rounded-md border px-2 py-2.5 text-sm font-medium text-neutral-800 hover:border-neutral-400"
    (click)="handleNoSessionClick()"
  >
    <p>Hacer pedido</p>
    <svg-icon src="assets/svg/lock-closed.svg" />
  </button>
}
