<div class="relative">
  <button
    class="flex gap-x-2 items-center rounded py-2.5 px-4"
    (click)="toggleDropdownMenu()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6 text-neutral-500 hover:text-neutral-700"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
      />
    </svg>
    <div>
      {{ cartUnits() > 9 ? "+9" : cartUnits() }}
    </div>
  </button>
  <div
    class="bg-white rounded p-4 right-0 border border-neutral-300 drop-shadow-lg top-11 w-80"
    [ngClass]="{ absolute: showMenu, hidden: !showMenu }"
  >
    <ul class="list-none">
      <li
        class="border-b border-neutral-300 flex justify-start py-4 gap-x-4 items-center first:pt-0"
        *ngFor="let item of cartItems()"
      >
        <img
          [productImage]="item.product.img_url"
          alt=""
          class="block w-16 h-16 object-contain"
        />
        <div>
          <p>{{ item.product.name }}</p>
          <p class="text-sm">Cantidad: {{ item.quantity }}</p>
        </div>
      </li>
    </ul>
    <div>
      <div class="my-6 flex justify-between items-center">
        <p>Subtotal</p>
        <p class="text-base font-medium">
          {{ cartAmmount() | currency : "GTQ" }}
        </p>
      </div>
      <app-button
        [fullWidth]="true"
        routerLink="shopping-cart"
        (click)="toggleDropdownMenu()"
      >
        Ir a la cesta
      </app-button>
    </div>
  </div>
</div>
