<div class="cart-dropdown">
  <button class="cart-toggle rounded py-2.5 px-4" (click)="toggleDropdownMenu()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6 text-neutral-500 hover:text-neutral-700"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
      />
    </svg>
    <div>
      {{ cartUnits() > 9 ? "+9" : cartUnits() }}
    </div>
  </button>
  <div class="dropdown-menu" [class.active]="showDropdownMenu">
    <ul class="cart">
      <li class="cart-item" *ngFor="let item of cartItems()">
        <div class="item-info">
          <p>{{ item.product.name }}</p>
          <p class="text-sm">{{ item.product.price | currency : "GTQ" }}</p>
        </div>
        <p class="item-qty">{{ item.quantity }}</p>
      </li>
    </ul>
    <div class="p-4">
      <div>
        <h3 class="text-base font-medium">Total: {{ cartAmmount() | currency : "GTQ" }}</h3>
      </div>
      <button class="btn dropdown-btn" (click)="clearShoppingCart()">
        Limpiar cesta
      </button>
      <button
        class="btn dropdown-btn"
        routerLink="shopping-cart"
        (click)="toggleDropdownMenu()"
      >
        Ir a la cesta
      </button>
    </div>
  </div>
</div>
