<app-dropdown pageUrl="/cart">
  <div id="toggle-content" class="flex items-center gap-x-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="h-5 w-5 text-neutral-500 hover:text-neutral-700"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
      />
    </svg>
    <div>
      {{ cartCount > 9 ? "+9" : cartCount }}
    </div>
  </div>
  <div id="dropdown-content">
    <ng-container *ngIf="cartCount > 0; else emptyCart">
      <ul class="list-none">
        <li
          class="flex items-center justify-start gap-x-4 border-b border-neutral-300 py-4 first:pt-0"
          *ngFor="let item of (cartItems$ | async)?.slice(0, 4)"
        >
          <img
            [productImage]="item.img_url"
            alt=""
            class="block h-16 w-16 object-contain"
          />
          <div>
            <p class="text-sm mb-2 font-medium">{{ item.name }}</p>
            <p class="text-sm">Cantidad: {{ item.quantity }}</p>
          </div>
        </li>
      </ul>
      <div>
        <div class="my-6 flex items-center justify-between">
          <p>Subtotal</p>
          <p class="text-base font-medium">
            {{ subtotal | currency : "GTQ" }}
          </p>
        </div>
        <div class="flex flex-col items-center gap-y-2">
          <app-button [fullWidth]="true" routerLink="/cart" class="w-full">
            Ir a la cesta
          </app-button>
          <p class="text-center text-sm text-neutral-600">
            *Dirigete a la cesta para ver todos los articulos*
          </p>
        </div>
      </div>
    </ng-container>
    <ng-template #emptyCart>
      <div class="grid items-center justify-center text-center">
        <p class="text-base font-medium">Tu carrito está vacío</p>
        <p class="mb-4 text-sm">Añade un producto al carrito para verlo aquí</p>
        <button
          class="rounded-md border px-2 py-2.5 text-sm font-medium text-neutral-800 hover:border-neutral-400"
          routerLink=""
        >
          Ir a la tienda
        </button>
      </div>
    </ng-template>
  </div>
</app-dropdown>
