<div class="rounded border border-slate-300 overflow-hidden">
  <img
    class="cursor-pointer object-contain w-full h-[200px]"
    [productImage]="product.img_url"
    [alt]="product.name"
    [routerLink]="['/product', product.id]"
  />
  <div class="p-4">
    <h3 class="line-clamp-2">{{ product.name }}</h3>
    <h4 class="text-xl mb-5">{{ product.price | currency : "GTQ" }}</h4>
    <button class="btn w-full" (click)="addToCart(product)">
      Agregar al carrito
    </button>
  </div>
</div>
