<div class="mx-auto grid w-96 grid-cols-1">
  <h1 class="mb-8 justify-self-center text-2xl">Crear una cuenta</h1>

  <form [formGroup]="signupForm" autocomplete="off" class="mb-8 flex flex-col gap-y-4">
    <div class="flex gap-x-4">
      <div class="flex flex-col">
        <label
          for="first-name"
          class="mb-1.5 text-sm font-medium text-neutral-800"
          >Nombre</label
        >
        <input
          type="text"
          name="first_name"
          id="first-name"
          formControlName="first_name"
          class="rounded-md border border-gray-300 px-3 py-1.5 text-sm focus:outline-green-700"
        />
      </div>
      <div class="flex flex-col">
        <label
          for="last-name"
          class="mb-1.5 text-sm font-medium text-neutral-800"
          >Apellido</label
        >
        <input
          type="text"
          name="last_name"
          id="last-name"
          formControlName="last_name"
          class="rounded-md border border-gray-300 px-3 py-1.5 text-sm focus:outline-green-700"
        />
      </div>
    </div>
    <div class="flex flex-col">
      <label
        for="email"
        class="mb-1.5 text-sm font-medium text-neutral-800"
        >Correo</label
      >
      <input
        type="text"
        name="email"
        id="email"
        formControlName="email"
        class="rounded-md border border-gray-300 px-3 py-1.5 text-sm focus:outline-green-700"
      />
    </div>
    <div class="flex gap-x-4">
      <div class="flex flex-col">
        <label
          for="password"
          class="mb-1.5 text-sm font-medium text-neutral-800"
          >Contraseña</label
        >
        <input
          type="text"
          name="password"
          id="password"
          formControlName="password"
          class="rounded-md border border-gray-300 px-3 py-1.5 text-sm focus:outline-green-700"
        />
      </div>
      <div class="flex flex-col">
        <label
          for="repeated_pass"
          class="mb-1.5 text-sm font-medium text-neutral-800"
          >Repetir Contraseña</label
        >
        <input
          type="text"
          name="repeated_pass"
          id="repeated_pass"
          formControlName="repeated_password"
          class="rounded-md border border-gray-300 px-3 py-1.5 text-sm focus:outline-green-700"
        />
      </div>
    </div>
    <button
      type="submit"
      class="mb-8 rounded bg-green-700 px-4 py-2.5 text-white hover:bg-green-800"
    >
      Crear Cuenta
    </button>
    <p class="text-center">
      ¿Ya tienes cuenta? 
      <a routerLink="/auth/login" class="underline text-green-800">Iniciar Sesión</a>
    </p>
  </form>
</div>
