<div class="mx-auto grid w-96 grid-cols-1">
  <h1 class="mb-8 justify-self-center text-2xl">Crear una cuenta</h1>

  <form
    [formGroup]="signupForm"
    (ngSubmit)="handleSubmit()"
    autocomplete="off"
    class="mb-8 flex flex-col gap-y-4"
  >
    <div class="flex gap-x-4">
      <div class="flex flex-col">
        <label
          for="first-name"
          class="mb-1.5 text-sm font-medium text-neutral-800"
          >Nombre</label
        >
        <input
          type="text"
          name="first_name"
          id="first-name"
          formControlName="first_name"
          class="rounded-md border border-gray-300 px-3 py-1.5 text-sm focus:outline-green-700"
        />

        <ng-container *ngIf="getFormControl('first_name').invalid && getFormControl('first_name').touched">
          <div *ngIf="getFormControl('first_name')?.hasError('required')">
            <p class="mt-2 text-sm text-red-700">El nombre es requerido</p>
          </div>
          <div *ngIf="getFormControl('first_name')?.hasError('minlength')">
            <p class="mt-2 text-sm text-red-700">
              El nombre debe tener al menos
              {{ getFormControl('first_name').getError("minlength").requiredLength }}
              caracteres
            </p>
          </div>
        </ng-container>
      </div>
      <div class="flex flex-col">
        <label
          for="last-name"
          class="mb-1.5 text-sm font-medium text-neutral-800"
          >Apellido</label
        >
        <input
          type="text"
          name="last_name"
          id="last-name"
          formControlName="last_name"
          class="rounded-md border border-gray-300 px-3 py-1.5 text-sm focus:outline-green-700"
        />

        <ng-container *ngIf="getFormControl('last_name').invalid && getFormControl('last_name').touched">
          <div *ngIf="getFormControl('last_name')?.hasError('required')">
            <p class="mt-2 text-sm text-red-700">El apellido es requerido</p>
          </div>
          <div *ngIf="getFormControl('last_name')?.hasError('minlength')">
            <p class="mt-2 text-sm text-red-700">
              El apellido debe tener al menos
              {{ getFormControl('last_name').getError("minlength").requiredLength }}
              caracteres
            </p>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="flex flex-col">
      <label for="email" class="mb-1.5 text-sm font-medium text-neutral-800"
        >Correo</label
      >
      <input
        type="text"
        name="email"
        id="email"
        formControlName="email"
        class="rounded-md border border-gray-300 px-3 py-1.5 text-sm focus:outline-green-700"
      />

      <ng-container *ngIf="getFormControl('email').invalid && getFormControl('email').touched">
        <div *ngIf="getFormControl('email')?.hasError('required')">
          <p class="mt-2 text-sm text-red-700">El correo electronico es requerido</p>
        </div>
        <div *ngIf="getFormControl('email')?.hasError('email')">
          <p class="mt-2 text-sm text-red-700">El correo debe ser valido</p>
        </div>
      </ng-container>
    </div>
    <div class="flex gap-x-4">
      <div class="flex flex-col">
        <label
          for="password"
          class="mb-1.5 text-sm font-medium text-neutral-800"
          >Contraseña</label
        >
        <input
          type="password"
          name="password"
          id="password"
          formControlName="password"
          class="rounded-md border border-gray-300 px-3 py-1.5 text-sm focus:outline-green-700"
        />

        <ng-container *ngIf="getFormControl('password').invalid && getFormControl('password').touched">
          <div *ngIf="getFormControl('password')?.hasError('required')">
            <p class="mt-2 text-sm text-red-700">La contraseña es requerida</p>
          </div>
          <div *ngIf="getFormControl('password')?.hasError('minlength')">
            <p class="mt-2 text-sm text-red-700">
              La contraseña debe tener al menos
              {{ getFormControl('password').getError("minlength").requiredLength }}
              caracteres
            </p>
          </div>
        </ng-container>
      </div>
      <div class="flex flex-col">
        <label
          for="repeated_pass"
          class="mb-1.5 text-sm font-medium text-neutral-800"
          >Repetir Contraseña</label
        >
        <input
          type="password"
          name="repeated_pass"
          id="repeated_pass"
          formControlName="repeated_password"
          class="rounded-md border border-gray-300 px-3 py-1.5 text-sm focus:outline-green-700"
        />

        <ng-container *ngIf="getFormControl('repeated_password').invalid && getFormControl('repeated_password').touched">
          <div *ngIf="getFormControl('repeated_password')?.hasError('required')">
            <p class="mt-2 text-sm text-red-700">La contraseña es requerida</p>
          </div>
          <div *ngIf="getFormControl('repeated_password')?.hasError('minlength')">
            <p class="mt-2 text-sm text-red-700">
              La contraseña debe tener al menos
              {{ getFormControl('repeated_password').getError("minlength").requiredLength }}
              caracteres
            </p>
          </div>
          <div *ngIf="getFormControl('repeated_password')?.hasError('passwordMismatch')">
            <p class="mt-2 text-sm text-red-700">Las contraseñas no coinciden</p>
          </div>
        </ng-container>
      </div>
    </div>
    <app-button [fullWidth]="true" [disabled]="!signupForm.valid" class="mb-6">
      Crear Cuenta
    </app-button>

    <ng-container *ngIf="signupError()">
      <div class="rounded bg-red-100 p-4">
        <p class="text-center text-red-800 text-sm">
          El correo electronico que proveíste ya está asociado a una cuenta.
        </p>
      </div>
    </ng-container>

  </form>

  <p class="text-center">
    ¿Ya tienes cuenta?
    <a routerLink="/auth/login" class="text-green-800 underline"
      >Iniciar Sesión</a
    >
  </p>
</div>
