<div class="mx-auto w-96">
  <h1 class="mb-8 text-2xl">Mi cuenta</h1>

  <div class="mb-8 flex justify-center">
    <img
      [userPhoto]="user()?.photoURL"
      alt="Imagen de perfil del usuario"
      class="rounded-full"
    />
  </div>

  <ng-container *ngIf="profileForm">
    <form autocomplete="off" [formGroup]="profileForm" (ngSubmit)="updateUserValues()">
      <div class="mb-8 flex flex-col gap-y-4">
        <div class="flex flex-col">
          <label
            class="mb-1.5 text-sm font-medium text-neutral-800"
            for="first_name"
            >Nombre Completo:</label
          >
          <input
            class="rounded-md border border-gray-300 px-3 py-1.5 text-sm focus:outline-green-700"
            type="text"
            id="first_name"
            formControlName="full_name"
          />
        </div>
        <div class="flex flex-col">
          <label class="mb-1.5 text-sm font-medium text-neutral-800" for="email"
            >Correo:</label
          >
          <input
            class="rounded-md border border-gray-300 px-3 py-1.5 text-sm focus:outline-green-700"
            type="text"
            id="email"
            placeholder="account@example.com"
            formControlName="email"
          />
        </div>
      </div>
      <app-button [disabled]="!profileForm.valid" [fullWidth]="true" (click)="updateUserValues()">Guardar</app-button>
    </form>
  </ng-container>
</div>
