<div
  class="relative z-10 flex h-80 w-full items-center overflow-hidden rounded-[18px] bg-[url('assets/images/banner.png')] from-black bg-cover bg-center bg-no-repeat px-10 before:absolute before:inset-0 before:z-[-5] before:block before:bg-gradient-to-r before:from-slate-950 before:to-transparent before:opacity-80 before:content-['']"
>
  <div>
    <div class="mb-6">
      <p class="text-2xl font-medium text-gray-50 mb-2">
        Bienvenido a nuestra tienda!
      </p>
      <p class="text-gray-50 w-96 text-sm">Te invitamos a ver nuestro catalogo de productos o puedes buscar uno en específico.</p>
    </div>
    <app-search-input />
  </div>
</div>

<div class="grid grid-cols-5 gap-4">
  <app-product-card
    *ngFor="let product of products | async"
    [product]="product"
  />
</div>
