.navbar {
  border-bottom: 1px solid #cfcccf;
  margin-bottom: 24px;
  padding: 12px 24px;

  /* Layout */
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
}

.navbar-logo {
  font-size: 18px;
  font-weight: 600;

  text-decoration: none;
  color: inherit;
}

.navbar-options {
  display: flex;
  column-gap: 16px;
}

/* Search Input */
.search {
  flex-grow: 1;
}
.search-input {
  border-radius: 40px;
  /*border: 1px solid #cfcccf;*/
  border: none;
  padding: 14px 18px;
  width: 100%;
  display: block;

  background-color: #eae9e9;
  font-size: 14px;
  font-family: inherit;
}
.search-input:focus {
  outline: 1px solid #c5c3c5;
}

/* User Dropdown */
.user-dropdown {
  display: flex;
  column-gap: 4px;
  align-items: center;
}
.user-img {
  border-radius: 50%;

  display: block;
  width: 40px;
}
