<div class="mb-10">
  <h1 class="mb-1 text-2xl">Carrito de compras</h1>
  <button
    *ngIf="itemsCount > 0"
    class="text-sm text-neutral-600 hover:text-black"
    (click)="clearShoppingCart()"
  >
    Vaciar Carrito
  </button>
</div>

<div class="flex gap-x-20">
  <div class="grow divide-y">
    <div class="pb-4">
      <ng-container *ngIf="itemsCount > 0; else empty">
        <app-item-cart
          *ngFor="let item of items | async"
          [cartItem]="item"
          (onIncreaseQty)="handleIncrease($event)"
          (onDecreaseQty)="handleDecrease($event)"
          (onDeleteItem)="handleDeleteItem($event)"
        />
      </ng-container>

      <ng-template #empty>
        <app-empty-cart />
      </ng-template>
    </div>
  </div>
  <div class="w-72" *ngIf="itemsCount > 0">
    <app-order-summary
      [subtotal]="subtotal"
      [tax]="tax"
      [session]="isSession"
      (onNoSessionClick)="handleNoSessionClick()"
    />
  </div>
</div>
