<div class="mt-4 w-full border-t border-neutral-300 px-10 py-7">
  <div class="mx-auto w-[90%] max-w-[1200px] flex items-center justify-between px-4">
    <div>
      <div class="mb-4">
        <a class="block text-lg font-semibold" routerLink="">
          {{ businessName }}
        </a>
        <p class="text-sm">Variedad de productos para uso escolar, de oficinas, regalos para toda ocación y más!</p>
      </div>
      <div class="flex gap-x-6">
        <a href="https://www.facebook.com/librerialajoya" target="_blank" rel="noopener" class="text-sm">Facebook</a>
        <a href="https://www.instagram.com/librerialajoya/" target="_blank" rel="noopener" class="text-sm">Instagram</a>
      </div>
    </div>
    <p class="text-sm">© {{ currentYear }} Todos los derechos reservados</p>
  </div>
</div>
