/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
}

/* ICON STYLES */
.icon-md {
  height: 20px;
  width: 20px;
}

.icon-sm {
  height: 16px;
  width: 16px;
}
