/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.btn {
  border: 1px solid #cfcccf;
  border-radius: 4px;
  padding: 10px 16px;

  display: block;
  background-color: transparent;
  color: #1b5e20;
  font-weight: 600;
  cursor: pointer;

  font-family: inherit;
  font-size: 14px;
}

.btn-small {
  padding: 4px 10px;
}

.btn:hover {
  border: 1px solid #1b5e20;
  background-color: #e8f5e9;
}

.btn-primary {
  border: none;
  background-color: #275db4;
  color: white;
}

.icon-md {
  height: 20px;
  width: 20px;
}

.icon-sm {
  height: 16px;
  width: 16px;
}
