<p class="mb-4 text-xl">Resumen</p>

<div class="mb-4 divide-y">
  <div class="mb-4">
    <p class="mb-2 flex justify-between">
      <span>Subtotal</span>
      <span>{{ subtotal | currency : "Q" }}</span>
    </p>
    <!-- <p class="mb-2 flex justify-between">
      <span>Envío</span>
      <span>{{ shipping | currency : "Q" }}</span>
    </p> -->
    <p class="mb-2 flex justify-between">
      <span>Impuesto</span>
      <span>{{ tax | currency : "Q" }}</span>
    </p>
  </div>
  <div class="pb-2 pt-4">
    <p class="flex justify-between text-lg">
      <span>Total</span>
      <span>{{ total | currency : "Q" }}</span>
    </p>
  </div>
</div>

<button
  routerLink="./checkout"
  class="flex w-full items-center justify-center gap-x-2 rounded-md border px-2 py-2.5 text-sm font-medium text-neutral-800 hover:border-neutral-400"
  *ngIf="session; else noSession"
>
  <p>Hacer pedido</p>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="h-5 w-5"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75"
    />
  </svg>
</button>

<ng-template #noSession>
  <button
    routerLink="/auth"
    class="flex w-full items-center justify-center gap-x-2 rounded-md border px-2 py-2.5 text-sm font-medium text-neutral-800 hover:border-neutral-400"
    (click)="handleNoSessionClick()"
  >
    <p>Hacer pedido</p>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="h-5 w-5"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"
      />
    </svg>
  </button>
</ng-template>
