<div class="mb-10">
  <h1 class="mb-1 text-2xl">Carrito de compras</h1>
  <button
    *ngIf="shoppingCart().length > 0"
    class="text-neutral-600 hover:text-black"
    (click)="clearShoppingCart()"
  >
    Vaciar Carrito
  </button>
</div>

<div class="flex gap-x-20" *ngIf="shoppingCart().length > 0">
  <div class="grow">
    <app-item-cart *ngFor="let item of shoppingCart()" [cartItem]="item" />
  </div>
  <div class="w-72">
    <p>Subtotal {{ subtotal() | currency : "Q" }}</p>
    <p>Impuesto: {{ tax() | currency : "Q" }}</p>
    <p class="text-2xl mb-4">Total: {{ total() | currency : "Q" }}</p>
    <app-button [fullWidth]="true">Finalizar pedido</app-button>
  </div>
</div>
