<app-dropdown pageUrl="account/profile" [isMenu]="true">
  <div id="toggle-content">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="h-6 w-6 text-neutral-500 hover:text-neutral-700"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"
      />
    </svg>
  </div>
  <div id="dropdown-content" class="divide-y">
    <div class="flex items-center gap-x-3 px-4 py-3">
      <div class="overflow-hidden">
        <p class="text-sm font-semibold text-neutral-800">
          {{ userInfo.fullname }}
        </p>
        <p class="truncate text-sm text-neutral-600">{{ userInfo.email }}</p>
      </div>
    </div>
    <div>
      @for (item of menuItems; track item) {
      <a
        [routerLink]="[baseLink, item.link]"
        class="block cursor-pointer px-4 py-2 hover:bg-gray-100"
      >
        <span class="text-sm">{{ item.placeholder }}</span>
      </a>
      }
    </div>
    <a
      class="block cursor-pointer px-4 py-2 hover:bg-gray-100"
      (click)="logout()"
    >
      <span class="text-sm">Cerrar Sesión</span>
    </a>
  </div>
</app-dropdown>
