<nav class="mb-6 w-full">
  <div
    class="mx-auto flex w-[90%] max-w-[1200px] items-center justify-between border-b border-neutral-300 py-2"
  >
    <div class="flex items-center gap-x-12">
      <a class="block text-lg font-semibold" routerLink="">
        {{ businessName }}
      </a>
    </div>
    <!-- <app-search-input></app-search-input> -->
    <div class="flex items-center gap-x-3">
      <button class="flex items-center gap-x-2 rounded p-2" routerLink="search">
        <ui-search-icon />
        <span class="text-sm">Buscar</span>
      </button>
      <app-cart-dropdown></app-cart-dropdown>

      @if (isLogged()) {
      <app-user-dropdown></app-user-dropdown>
      } @else {
      <button class="flex items-center gap-x-2 rounded p-2" routerLink="auth">
        <ui-account-icon />
        <span class="text-sm">Cuenta</span>
      </button>
      }
    </div>
  </div>
</nav>
